#menu-bottom {
    background-color: steelblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 100%;

    button {
        width: 50%;
        padding: 10px;
        background-color: transparent;
    }
}
